[Unit]
Description=Dumb Smart Display
After=network.target

[Service]
Type=simple
User={{APP_USER}}
WorkingDirectory={{APP_DIR}}
ExecStart={{APP_DIR}}/.venv/bin/python -m app.main
Restart=on-failure

[Install]
WantedBy=multi-user.target
