[Unit]
Description=Dumb Smart Display
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/dumb-smart-display
ExecStart=/home/pi/dumb-smart-display/.venv/bin/python -m app.main
Restart=on-failure

[Install]
WantedBy=multi-user.target
